{% extends 'base.html.twig' %}

{% block body %}
    <h1>Skladiste upravit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Potvrdit" />
    {{ form_end(edit_form) }}




            {{ form_start(delete_form) }}

                <button type="submit" class="btn btn-danger">Smazat</button>
            {{ form_end(delete_form) }}
    <a class="btn btn-info" href="{{ path('skladiste_index') }}">Zpět na seznam</a>
{% endblock %}
